 <html>
  <head>
    <meta charset="utf-8">
    <title>Calendar</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <script type="text/x-handlebars" data-template-name="date">
      <table id="calendar1">
        <thead>
         <tr>
            <th colspan="8">
              <button {{action 'goToToday'}}>Go to today: {{currentDay}} {{currentMonth}} {{currentYear}}</button>
            </th>
          </tr>
          <tr>
            <th colspan="4">
              {{view Ember.Select
                contentBinding='monthCombo'
                optionValuePath='content.nom'
                optionLabelPath='content.title'
                selectionBinding='controller.selectedMonth'
                optionClassPath="content.class"
              }}
            </th>
            <th colspan="4">
              {{input type="number" min="1970" max="2200" size="4" action='goToSelectedYear' value=model.year}}
            </th>
          </tr>
          <tr>
            <th>W</th>
            <th>Пн</th>
            <th>Вт</th>
            <th>Ср</th>
            <th>Чт</th>
            <th>Пт</th>
            <th>Сб</th>
            <th>Вс</th>
          </tr>
        </thead>
        <tbody class="tBody">
          {{#each week in dateTable}}
            <tr>
              {{#each day in week}}
                <td {{bind-attr class=day.class }}>
                  {{#if day.weeknumber}}
                    <div>{{day.name}}</div>
                  {{else}}
                    <div {{action 'gotToSelectedDay' day.name}}>{{day.name}}</div>
                  {{/if}}
                </td>
              {{/each}}
            </tr>
          {{/each}}
        </tbody>
      </table>
    </script>
    <script src="js/libs/jquery-1.10.2.min.js"></script>
    <script src="js/libs/handlebars-1.0.0.js"></script>
    <script src="js/libs/ember.js"></script>
    <script src="js/libs/ember-data.js"></script>
    <!-- <script src="js/libs/localstorage_adapter.js"></script> -->
    
    <script src="js/application.js"></script>
    <script src="js/router.js"></script>

    <script src="js/models/date.js"></script>
    <!-- <script src="js/controllers/todos_controller.js"></script>
     <script src="js/controllers/todo_controller.js"></script> -->
    <script src="js/controllers/date_controller.js"></script>
    <!--<script src="js/views/edit_todo_view.js"></script>-->
  </body>
 </html>
