html,
body {
	margin: 0;
	padding: 0;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eaeaea url('bg.png');
	color: #4d4d4d;
	width: 550px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

td, th {
	width: 30px;
	text-align: center;
}

td {
	border: 1px solid #aba;
}
button, input, select {
	width: 100%;
}
button {
	margin-top: 50px;
}
.today {
	outline: 2px solid red;
}
.sanday {
	background-color: #e11;
}
.week {
	background-color: #999;	
	color: #e11;
}
.currentMonth {
	color: red;
}
.selectedDay {
	color: #55f;
	font-weight: bold;
	outline: 2px solid blue;
}